h2 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
}


/** Task.js **/
.marg {
  margin-right: 25%
}


/* Making the form more central */
.formplacement {
  margin: 5% 10% 1% 10%
}


/* Nav Bar CSS */
.navbar {
  background-color: #007bff;
  padding: 2% 2% 2% 2%;
}

.iconnav {
  color: #ffffff;
}

.iconcard {
  color: #007bff;
}


/* Icon floating */ 
.floatright {
  float: right;
  margin: 4px
}

/* Card header color */

.cardheader {
  background-color: #007bff;
}

